<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Cards</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="header">
        <h1>Movie Cards</h1>
        <input type="text" id="searchInput" placeholder="Search by title, year, or language...">
    </div>
    <div id="container" class="container">
        <div id="movies" class="movies-container"></div>
    </div>
    <div class="pagination" id="pagination"></div>

    <script>
        const moviesData = JSON.parse({{ movies | tojson }});

        document.addEventListener('DOMContentLoaded', () => {
            const searchInput = document.getElementById('searchInput');
            const moviesContainer = document.getElementById('movies');
            const paginationContainer = document.getElementById('pagination');
            let currentPage = 1;
            const widthScreen = screen.width;
            const items = Math.ceil(widthScreen / 200 - 1)  ;
            const itemsPerPage = items * 3;

            searchInput.addEventListener('input', () => {
                currentPage = 1;
                renderMovies();
            });

            function renderMovies() {
                moviesContainer.innerHTML = '';
                const searchTerm = searchInput.value.toLowerCase();
                const filteredMovies = moviesData.filter(movie =>
                    movie.title.toLowerCase().includes(searchTerm)
                );

                const startIndex = (currentPage - 1) * itemsPerPage;
                const endIndex = startIndex + itemsPerPage;
                const moviesToDisplay = filteredMovies.slice(startIndex, endIndex);

                moviesToDisplay.forEach(movie => {
                    const card = document.createElement('div');
                    const normalizeName = movie.title.normalize('NFD').replace(/[\u0300-\u036f]/g, '').replace(/ /g, '');
                    card.className = 'card';
                    card.innerHTML = `
                        <div class="card-image" style="background-image: url('${getCachedData(normalizeName)?.poster_path || ''}')"></div>                       
                        <div class="card-overlay">
                            <div class="card-title">${movie.title}</div>
                            <div class="card-details">
                                <div>Language: ${movie.language}</div>
                                <div>Year: ${movie.year}</div>
                                <div>Resolution: ${movie.resolution}</div>
                            </div>
                        </div>
                         <div class="card-show">
                            <div class="card-title">${movie.title}</div>
                            <div class="card-details">
                                <div>Language: ${movie.language}</div>
                                <div>Year: ${movie.year}</div>
                                <div>Resolution: ${movie.resolution}</div>
                            </div>
                        </div>
                    `;

                    const cachedData = getCachedData(normalizeName);
                        if (!cachedData) {
                            fetch(`/api/search?type=movie&title=${encodeURIComponent(movie.title)}&year=${movie.year}`)
                                .then(response => response.json())
                                .then(data => {
                                    if(data.error){return}
                                    cacheData(normalizeName, data);
                                    updateCardWithData(card, data);
                                })
                                .catch(error => console.error('Error fetching movie data:', error));
                        } else {
                            updateCardWithData(card, cachedData);
                        }

                    card.addEventListener('click', () => {
                        fetch(`/api/movie?url=${movie.url}`)
                            .then(response => response.json())
                            .then(data => {
                                window.location.href = "https://redecanais.foo" + data.url;
                            })
                            .catch(error => console.error('Error fetching movie details:', error));
                    });

                    moviesContainer.appendChild(card);
                });

                renderPagination(filteredMovies.length);
            }

            function updateCardWithData(card, data) {
                card.querySelector('.card-image').style.backgroundImage = `url(${data.poster_path})`;
                card.querySelector('.card-details').innerHTML = `
                    <div>Overview: ${data.overview.length > 300 ? data.overview.slice(0, 300) + '...' : data.overview}</div>
                    <div>Popularity: ${data.popularity}</div>
                    <div>Vote Average: ${data.vote_average}</div>
                    <div>Vote Count: ${data.vote_count}</div>
                `;
            }

            function cacheData(key, data) {
                localStorage.setItem(key, JSON.stringify(data));
            }

            function getCachedData(key) {
                const cached = localStorage.getItem(key);              
                return cached ? JSON.parse(cached) : null;
            }

            function renderPagination(totalItems) {
                paginationContainer.innerHTML = '';
                const totalPages = Math.ceil(totalItems / itemsPerPage);

                const createButton = (text, page) => {
                    const button = document.createElement('button');
                    button.textContent = text < 10 ? `0${text}` : text;
                    button.disabled = currentPage === page;
                    button.addEventListener('click', () => {
                        currentPage = page;
                        renderMovies();
                    });
                    return button;
                };

                if (currentPage > 1) {
                    paginationContainer.appendChild(createButton('Previous', currentPage - 1));
                }

                let startPage = Math.max(1, currentPage - Math.floor(items / 2));
                let endPage = Math.min(totalPages, startPage + items - 1);

                if (endPage - startPage + 1 < items) {
                    startPage = Math.max(1, endPage - items + 1);
                }

                for (let i = startPage; i <= endPage; i++) {
                    paginationContainer.appendChild(createButton(i, i));
                }

                if (currentPage < totalPages) {
                    paginationContainer.appendChild(createButton('Next', currentPage + 1));
                }
            }

            renderMovies();
        });
    </script>
</body>

</html>
